# Database Connection String (PostgreSQL)
DATABASE_URL="postgresql://postgres:password@localhost:5432/aldenaire_db?schema=public"

# Authentication Secrets
JWT_SECRET="aldenaire-luxury-fragrance-super-secret-key-2026"
NEXTAUTH_SECRET="aldenaire-nextauth-secret-key-2026"
NEXTAUTH_URL="http://localhost:3000"

# Application Base URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Email Service (Nodemailer)
EMAIL_SERVICE_USER="concierge@aldenaire.com"
EMAIL_SERVICE_PASSWORD="wnsn ojrz vifv trbd"

# Master Atelier Secret Key for Admin Verification
ADMIN_MASTER_KEY="perfume"
